{% extends 'layout.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block content %}
	<h1>Dashboard</h1>
	<a class="uk-button uk-button-default" href="/admin/Contact">Messages clients</a>
	<a class="uk-button uk-button-default" href="/admin/Tarifs">Edition des chambres</a>

	<div class="uk-container">
		<h2>Resevations</h2>
		<table class="uk-table uk-table-striped">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Email</th>
					<th>date d'arrivée</th>
					<th>Départ</th>
					<th>Chambre</th>
					<th>Demandes</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for reservation in reservations %}
					<tr>
						<td>{{ reservation.lastname }}</td>
						<td>{{ reservation.firstname }}</td>
						<td>{{ reservation.arrivalDate|date('d/m/Y') }}</td>
						<td>{{ reservation.departureDate|date('d/m/Y') }}</td>
						<td>{{ reservation.demands }}</td>
						<td>{{ reservation.room }}</td>
						<td>
							<a href="admin/reservation/{{ reservation.id }}" class="uk-button uk-button-primary">Voir</a>
							<a href="admin/reservation/{{ reservation.id }}/delete" class="uk-button uk-button-danger">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>{% endblock %}
