{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}-Contact
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block content %}
	<div class="uk-container">
		<swiper-container class="mySwiper" scrollbar-hide="true" autoplay-delay="2000" autoplay-disable-on-interaction="false">
			<swiper-slide><img src="/assets/images/chambre1.jpg" alt="image chambre"></swiper-slide>
			<swiper-slide><img src="/assets/images/chambre2.jpg" alt="image chambre"></swiper-slide>
			<swiper-slide><img src="/assets/images/chambre1.jpg" alt="image chambre"></swiper-slide>
			<swiper-slide><img src="/assets/images/chambre2.jpg" alt="image chambre"></swiper-slide>
			<swiper-slide><img src="/assets/images/chambre1.jpg" alt="image chambre"></swiper-slide>
			<swiper-slide><img src="/assets/images/chambre2.jpg" alt="image chambre"></swiper-slide>
			<swiper-slide><img src="/assets/images/chambre1.jpg" alt="image chambre"></swiper-slide>
			<swiper-slide><img src="/assets/images/chambre2.jpg" alt="image chambre"></swiper-slide>
			<swiper-slide><img src="/assets/images/chambre1.jpg" alt="image chambre"></swiper-slide>
		</swiper-container>
	</div>

	<div class="line"></div>

	<div class="uk-child-width-expand@s uk-text-center uk-grid kfd-background">

  <div>
      <div class="uk-card uk-card-default uk-card-body kfd-background-left">
        <legend><h2>Information de contact</h2></legend>
          {% for information in informationsContact %}
          <li class="uk-text-center-text">
              {{ information }}
          </li>
          {% endfor %}
      </div>
      <div class="uk-card uk-card-default uk-card-body kfd-background-left">
        <legend class="uk-contact"><h2>Horraires d'ouverture</h2></legend>
          <li class="uk-text-center-text">Flexibles-Prévenez nous</li>
      </div>
  </div>
  <div> 
      <div class="uk-card uk-card-default uk-card-body kfd-background-right">
          <form  method="POST">
              <fieldset class="uk-fieldset">
                <legend class="uk-Formulaire"><h2>Formulaire</h2></legend>
                <div class="uk-margin">
                  <input class="uk-input" name="lastname" id="lastname" type="text" placeholder="nom">
                    {% if errors.lastname is defined %} 
                    <div class="uk-alert" uk-alert>
                      <a class="uk-alert-close" uk-close></a>
                      <p>{{errors.lastname}}</p>
                    </div>
                    {% endif %}
                </div>
                <div class="uk-margin">
                  <input class="uk-input" name="firstname" id="firstname" type="text" placeholder="Prénom">
                    {% if errors.firstname is defined %} 
                    <div class="uk-alert" uk-alert>
                      <a class="uk-alert-close" uk-close></a>
                      <p>{{errors.firstname}}</p>
                    </div>
                    {% endif %}
                </div>
                <div class="uk-margin">
                  <input class="uk-input" name="phone" id="phone" type="number" placeholder="Votre téléphone">
                    {% if errors.firstname is defined %} 
                    <div class="uk-alert" uk-alert>
                      <a class="uk-alert-close" uk-close></a>
                      <p>{{errors.phone}}</p>
                    </div>
                  {% endif %}
                </div>
                <div class="uk-margin">
                  <input class="uk-input" name="email" id="Email" type="email" placeholder="Email">
                    {% if errors.firstname is defined %} 
                    <div class="uk-alert" uk-alert>
                      <a class="uk-alert-close" uk-close></a>
                      <p> {{errors.Email}}</p>
                    </div>
                  {% endif %}
                </div>
                <div class="uk-margin">
                    <select class="uk-select" name="reason"  aria-label="Select">
                      <option disabled selected hidden>Choisissez votre requêtes</option>
                      {% for option in options %}
                        <option value="{{ option.requête }}">{{ option.nom }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="uk-margin">
                  <textarea class="uk-textarea" name="content" rows="5" placeholder="commentaire" ></textarea>
                </div>
                <div>
                  <button class="uk-button uk-button-default">Envoyer</button>
                </div>
              </fieldset>
          </form>
      </div>  
    </div>
  </div>
{% endblock %}